
@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <meta charset="utf-8" />
    <title>jQuery Example</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<div class="main-text-center">
            
    <ul>
            @for (int i = 0; i < Model.PokemonNames.Count; i++) 
        {
            <div class="pokemonCard">
            <img onmouseenter={pokeMouseEnter(event)} onmouseleave={pokeMouseLeave(event)} onclick={pokemonClick(event)} id="@i" src="@Model.PokemonSrc[i]" alt="Pokemon Image" />
            <li onclick={testclick(event)} id="pokemon-text-container-@i" class="pokemon-text-container1"> @Model.PokemonNames[i] </li>            
            </div>        
        }
    </ul>
</div>

<script>
var pokemonSrcBack = @Html.Raw(Json.Serialize(Model.PokemonSrcBack));
var pokemonSrc = @Html.Raw(Json.Serialize(Model.PokemonSrc));
var pokemonTypes = @Html.Raw(Json.Serialize(Model.PokemonTypes));

const CSS = (elem, rule, property) => {
    $(elem).css(rule, property);
}

const pokemonIdFromSrc = (src) => {
        if (typeof src === "string") 
    {
        let srcId = src.replace(/\D+/g, '');
        return srcId
    } else
    {
        return;
    }
}

const pokeMouseEnter = (event) => {
    let src = event.target.src;
        if (typeof src === "string" && src.length > 1)
    {
    let srcId = pokemonIdFromSrc(src);
    srcId--;
    $(event.target).attr('src', pokemonSrcBack[srcId]);
    $('#pokemon-text-container-' + srcId).css('opacity', '1.0');
    } 
    return;
}

const pokeMouseLeave = (event) => {
    let src = event.target.src;
        if (typeof src === "string")
    {
        let srcId = pokemonIdFromSrc(src);
        $(event.target).attr('src', pokemonSrc[srcId - 1]);
    } else 
    {
        return;
    }
}

const pokemonClick = (event) => {
    let src = event.target.src;
    let srcId = pokemonIdFromSrc(src);
    console.log('pokemonClick ', srcId);
    let elemSiblingsJQ = $(event.target).siblings();
    console.log('elemSiblings:', elemSiblingsJQ);
    let textSiblingName = elemSiblingsJQ[0].innerHTML.trim();
    console.log('textSiblingName', textSiblingName);
        
    console.log(pokemonTypes);
    let clickType = pokemonTypes[srcId-1];
    console.log(clickType);

    $.ajax({
        url: "http://localhost:5278/api/pokemon",
        method: "POST",
        contentType: "application/json", 
        data: JSON.stringify({ 
            pokename: textSiblingName,
            pokeid: srcId,
            type: clickType
        }),
        success: function (data) {
            console.log('data', data)
        },
        error: function (error) {
            console.log('a wild error appears!', error)
        }
    });    


    /* * * * THIS IS A GET ROUTE FOR A SINGLE POKEMON BY THEIR
        $.ajax({
        url: "http://localhost:5278/api/pokemon/" + srcId,
        method: 'GET',
        success: function (data) {
            // Handle the API response data here
            console.log('API response:', data);
        },
        error: function (error) {
            // Handle errors here
            console.log("big failure lets go!");
            console.error('API error:', error);
        }
    });
    */
}

const testclick = () => {

    // Make a GET request to your API
    $.ajax({
        url: "http://localhost:5278/api/pokemon", // Replace with the correct API endpoint 
        method: 'GET',
        success: function (data) {
            // Handle the API response data here
            console.log('API response:', data);
        },
        error: function (error) {
            // Handle errors here
            console.log("big failure lets go!");
            console.error('API error:', error);
        }
    });
}

</script>
